language: node_js
node_js:
- 6
- 8
- 10
cache:
  directories:
  - node_modules
deploy:
  provider: npm
  email: mr.tu@michaelqq.com
  api_key:
    secure: v/E5CMuyiGlW4Th3eAsmlLrPtX74xH8ckJi/DHT2Hb/Yf6DAp0yYYNH0OgrkNn7vE7yt10sdbsp2xyGlPsDfhZD2oSvFQIBk8ws7DN7bWljCMqamQ8ItR945HNK/GHywEirNixxhTNBZDqxcCtrEol+msOJiSgQvAdQWqRsXRN9JmxSMpnJSdd0O0qZu8poI0DXxcdmKAQhBk698ptIPOaL5Crdn6vCa2JWKMFpmZbrQ2P32T+sreKEM2N2dTODaOgQB6wSIIbF0F3ns2LSMipmzMTgSaT1ieX7pvZ/pfJIcvB8l/eZtN8YZ3EWSs16FszbDksaFnrccv/VirLCnEDUxMPafI6yJgaScrMo2kLY4oop+gEvzEPHGWa+b+fp7EMF7Z+1UNsNX80fptLz3W4vrwjWmTxtB97JmigPxLR/ywodF6jINNtuA+VYvibNxTf2f+ZJ70GLbp+92cAaxljp7xgnkgyvyqVm/M5ZvEBj4XuCU48N+ztTrqnf51xcRtIqcORNbG2HpygrGMwz9GpIEWl0vcBKj0Bu77ZnSccH5XmQuuvZ13mjaturz+zUfYxXJkt98nS7+hxGrL9yaWYk8HBJKlvipuFkAxm93UDrVdkPsXIHQpoWiAM/A/+J1X6YpzNUzE8P1IqD0ScWUWr3G1OJbwZUU5kst9/9RKuo=
  on:
    tags: true
    repo: MichaelQQ/dbfstream
